.count-button,
.add-button {
    width: 50%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.count-button {
    color: whitesmoke;
    background-color: #6e18af;
}

.add-button {
    color: #6e18af;
    background-color: whitesmoke;
    border: 2px solid #6e18af;
}

.count-button span,
.add-button span {
    padding-inline: .5em;
}


.count-button button {
    color: whitesmoke;
}

.count-button button:hover,
.count-button button:focus {
    color: whitesmoke;
    outline: none;
    box-shadow: none;
}

.add-button button {
    color: #6e18af;
}

.add-button button:hover,
.add-button button:focus {
    color: #6e18af;
    width: 100%;
    outline: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}